.nav-top
  .timeslots
    - event_timeslots.where(schedulable: true).each do |slot|
      %a.timeslot{:id => "timeslot_#{slot.id}_nav",
                  :href=> "#timeslot_#{slot.id}",
                  :startsAt => slot.starts_at.in_time_zone.to_i,
                  :endsAt   => slot.ends_at  .in_time_zone.to_i }
        = pill_label(slot)
  .maps
    %a.room{ target: '_blank',
             href: "#{asset_path('https://lib.utah.edu/info/library-maps.php')}" }
      Map

    %a.room{ target: '_blank',
             href: "#{asset_path('https://connect2018.lib.utah.edu')}" }

      Conference Info

      %a.room{ target: '_blank',
               href: "#{asset_path('https://wiki.duraspace.org/display/samvera/Samvera+Connect+2018')}" }

        Conference Wiki

    %a.twitter{  :target => '_blank',
                 :href => "https://twitter.com/#samvera2018" }
      :escaped
        #samvera2018
